/* ===== GLOBAL RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

/* ================= TOP BAR ================= */
.top {
  width: 100%;
  background: rgb(82, 89, 96);
  padding: 7px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
  transition: all 0.4s ease;
}

/* hide top bar on scroll */
.hide-top {
  transform: translateY(-100%);
  opacity: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
}

/* ===== CONTACT ===== */
.contact {
  display: flex;
  gap: 30px;
  color: #fff;
  font-weight: 300;
  font-size: 14px;
}

.contact a {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
}

.contact svg {
  width: 18px;
  height: 18px;
  fill: blue;
}

/* ===== SOCIAL ===== */
.social {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 14px;
  font-weight: 300;
  font-size: 14px;
}

.social a {
  display: flex;
  align-items: center;
}

.social svg {
  width: 22px;
  height: 22px;
  cursor: pointer;
  transition: transform 0.2s;
  pointer-events: none;
}

.social .ig svg { fill: #E4405F; }
.social .fb svg { fill: #1877F2; }
.social .yt svg { fill: #FF0000; }

.social a:hover {
  transform: scale(1.1);
}

/* ================= NAVBAR ================= */
.navbar {
  width: 100%;
  background: #000;
  padding: 3px 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;

  position: relative;
  transition: all 0.4s ease;
}

/* navbar becomes sticky AFTER scroll */
.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  background:black;
  animation: slideDown 0.4s ease;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

/* ===== LOGO ===== */
.logo img {
  height: 90px;
  width: 170px;
}

/* ===== NAV LINKS ===== */
.navlinks {
  display: flex;
  align-items: center;
  gap: 35px;
  flex: 1;
  justify-content: center;
}

.navlinks div,
.navlinks div a {
  color: white;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
}

.navlinks svg {
  width: 11px;
  fill: white;
}



/* ===== SEARCH BUTTON ===== */
.search-btn {
  background: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  
}

.search-btn svg {
  width: 18px;
}

/* ===== CTA BUTTON ===== */
.nav-button button {
  background: #6b2bff;
  color: white;
  border: none;
  padding: 12px 26px;
  border-radius: 10px;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
}

/* keep CTA readable on white navbar */
.navbar-fixed .nav-button button {
  background: #6b2bff;
  color: #fff;
}

/* ================= ANIMATION ================= */
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
