.news-section {
  background: #0b0b0b;
  padding-bottom: 80px;
}

/* Tag */
.News-tag {
  font-family: Norican, cursive;
  display: flex;
  justify-content: center;
  gap: 14px;
  color: rgb(107, 42, 230);
  font-size: 24px;
  padding-top: 35px;
  margin-bottom: 22px;
}

.News-tag span {
  width: 90px;
  height: 2px;
  background: #8b5cff;
}

/* Title */
.News-title {
  font-size: 44px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  margin-bottom: 50px;
}

/* Wrapper */
.slider-wrapper {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

/* Track */
.slider-track {
  display: flex;
  transition: transform 0.8s ease-in-out;
}

/* Card */
.card {
  flex: 0 0 33.3333%;
  padding: 15px;
  box-sizing: border-box;
 
  background-color: #6b6b6b;
}

.card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 24px;
}

.card h3 {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 24px;
}

.card button {
  background: transparent;
  color: #ffffff;
  border: 1px solid #6b6b6b;
  /* padding: 12px 26px; */
  padding: 12px 26px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card button:hover {
  background: #ffffff;
  color: #000000;
}

/* Responsive */
@media (max-width: 1024px) {
  .card {
    flex: 0 0 50%;
  }
}

@media (max-width: 640px) {
  .card {
    flex: 0 0 100%;
  }

  .card img {
    height: 220px;
  }

  .card h3 {
    font-size: 18px;
  }
}
