.tag {
  font-family: Norican, cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  color: rgb(107, 42, 230);
  font-size: 24px;
  font-weight: 400;
  padding-top:35px;
  margin-bottom:22px;
  line-height: 26px;
}
.tag span {
  width: 90px;
  height: 2px;
  background: #8b5cff;
  display: inline-block;
}

/* Main heading */
.tag-title {
  font-family: Poppins, sans-serif;
  font-size: 44px;
  font-weight: 600;
  margin-bottom: 18px;
  color: #ffffff;
  line-height: 52px;
  text-align:center;
  
}



.testimonial-wrapper {
  position: relative;
  margin-top: 40px;
  text-align: center;
  color: #fff;
}

/* ARROWS – near image */
.arrow {
  position: absolute;
  top: 55px;
  background: #1b1e28;
  border: none;
  color: #fff;
  font-size: 22px;
  width: 42px;
  height: 42px;
  border-radius: 8px;
  cursor: pointer;
}

.arrow.left {
  left: 10%;
}

.arrow.right {
  right: 10%;
}

/* SINGLE IMAGE CENTER */
.image-single {
  width: 300px;
  height: 200px;
  margin: 0 auto 30px;
  border-radius: 6px;
  overflow: hidden;
  background: #222;
}

.image-single img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* TEXT */
.testimonial-text {
  max-width: 800px;
  margin: 0 auto 20px;
  font-size: 20px;
  line-height: 1.6;
  color: #cfcfcf;
}

.role {
  color: #7c4dff;
  font-size: 15px;
}





.mid-card {
  width: 100%;
  padding: 80px 20px;
  display: flex;
  justify-content: center;

}

.in-card {
  width: 100%;
  max-width: 1200px;
  min-height: 420px;

  background: radial-gradient(
    circle at top left,
    #1a1a1a,
    #000000
  );

  border-radius: 22px;
  padding: 20px 70px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;

  box-shadow:
    0 20px 40px rgba(0, 0, 0, 0.8),
    inset 0 0 60px rgba(255, 255, 255, 0.03);
}

.textarea {
  width:600px;
  color: #ffffff;
}

.textarea h1 {
  font-size: 44px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}

.textarea p {
  font-size: 16px;
  line-height: 26px;
  color: rgb(106, 113, 120);
  margin-bottom: 35px;
  font-weight:400;
}

.two-button {
  display: flex;
  gap: 20px;
}

.two-button button {
  padding: 14px 34px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.two-button button:first-child {
  background: #7c3aed;
  color: #ffffff;
  border: none;
}

.two-button button:first-child:hover {
  background: #6d28d9;
}

.two-button button:last-child {
  background: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.two-button button:last-child:hover {
  background: #ffffff;
  color: #000000;
}

.mid-card-img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mid-card-img img {
  width: 100%;
  max-width: 420px;
  object-fit: contain;
  height:400px;
}
