.footer {
  background: radial-gradient(circle at top, #1c1f2a, #0d0f17);
  color: #ffffff;
  padding: 80px 60px;
  font-family: "Poppins", sans-serif;
}

.footer-container {
  max-width: 1300px;
  margin: auto;
  display: grid;
  grid-template-columns: 1.4fr 1fr 1.2fr;
  gap: 80px;
}

/* LEFT */
.footer-logo {
  width: 170px;
  margin-bottom: 20px;
}

.footer-desc {
  font-size: 15px;
  line-height: 1.8;
  margin-bottom: 30px;
  color: #dcdcdc;
}

.hours-follow {
  display: flex;
  gap: 60px;
}

.footer-title {
  font-size: 16px;
  margin-bottom: 12px;
}

.red {
  color: #ff003c;
}

.social-icons {
  display: flex;
  gap: 20px;
  font-size: 20px;
}

.social-icons i {
  cursor: pointer;
  transition: 0.3s;
}

.social-icons i:hover {
  color: #ff003c;
}

/* MIDDLE & RIGHT */
.footer-heading {
  font-size: 20px;
  margin-bottom: 10px;
}

.underline {
  display: block;
  width: 50px;
  height: 3px;
  background: linear-gradient(90deg, #ff003c, #7b2cff);
  margin-bottom: 30px;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.footer-links li:hover {
  color: #ff003c;
}

/* CONTACT */
.contact-item {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
  line-height: 1.7;
  color: #dcdcdc;
}

.icon {
  font-size: 18px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 50px;
  }

  .hours-follow {
    flex-direction: column;
    gap: 30px;
  }
}
